.images-size{
    width: 100%;
}
.icon{
    position: absolute;
    margin-top: 15px;
    margin-left: 20px;
}
.t1{
    position: absolute;
    margin-top: 15px;
    margin-left: 20px;
}
.icon2{
    position: absolute;
    margin-top: 90px;
    margin-left: 90px;   
}
.t8{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}